* {
  box-sizing: border-box;
}

.contactUs2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  width: 1512px;
  height: 2132px;
  overflow: hidden;

  .autoWrapper2 {
    position: relative;
    width: 1512px;
    height: 766px;

    .cleaningSuppliesRoom {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      flex-direction: column;
      align-items: center;
      padding: 267px 374px 305px;
      width: 1512px;
      height: 766px;
      background-image: url(../image/mm361ye9-uk7t1pa.png);
      background-position: 0px 0px;
      background-size: 100% 92.71%;
      background-repeat: no-repeat;

      .homeContacts {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 158px;
        height: 24px;
        line-height: 22px;
        letter-spacing: 0;
        color: #ffffff;
        font-family: Satoshi, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 20px;
      }

      .frame1000006218 {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        row-gap: 48px;

        .contactUs {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: center;
          width: 765px;
          height: 65px;
          letter-spacing: 0;
          color: #ffffff;
          font-family: "PF Bague Sans Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 60px;
          font-weight: 900;
        }

        .getYourQuestionsAnsw {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: center;
          width: 765px;
          height: 58px;
          line-height: 26px;
          letter-spacing: 0;
          color: #ffffff;
          font-family: Satoshi, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
          font-weight: 700;
        }
      }
    }

    .vector5 {
      display: flex;
      position: absolute;
      right: -65px;
      bottom: -21px;
      align-items: flex-start;
      padding: 18px 117px 40px 82px;
      width: 1608px;
      height: 154px;
      background-image: url(../image/mm361ye2-ryjm0fm.svg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      .frame1000006414 {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: space-between;
        padding: 15px 51px 16px 1211px;
        width: 1409px;
        min-width: 1409px;
        height: 96px;

        .group71 {
          position: relative;
          width: 65px;
          height: 65px;

          .ellipse10 {
            position: absolute;
            top: 0;
            left: 0;
            border: 5px solid #005f62;
            border-radius: 50%;
            background: #ffffff;
            width: 65px;
            height: 65px;
          }

          .phoneSvgrepoCom11 {
            position: absolute;
            top: 9px;
            left: 9px;
            width: 46px;
            height: 46px;
            overflow: hidden;
            rotate: -6deg;
          }
        }

        .frame1000006413 {
          display: flex;
          align-items: center;
          width: 65px;

          .group72 {
            margin-left: -1px;
            width: 66px;
            height: 65px;
          }
        }
      }
    }

    .frame1000006230 {
      display: flex;
      position: absolute;
      top: 0;
      left: -1px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10px 60px;
      width: 1512px;
      height: 128px;
      row-gap: 10px;

      .navbar {
        display: flex;
        position: relative;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        border: 1px solid #d3d3d3;
        border-radius: 20px;
        box-shadow: 0px 957px 250px 0px #00000000, 0px 612px 245px 0px #00000005,
          0px 345px 207px 0px #00000014, 0px 153px 153px 0px #00000021,
          0px 38px 84px 0px #00000026;
        background: #ffffff;
        padding-right: 16px;
        padding-left: 16px;
        height: 86px;

        .whatsAppImage2026012 {
          width: 283px;
          height: 86px;
        }

        .frame7 {
          display: inline-flex;
          align-items: center;
          column-gap: 20px;
          margin-left: 150px;
          height: 86px;

          .services {
            flex-shrink: 0;
            padding: 10px;
            width: 108px;
            text-align: center;
            line-height: 24px;
            letter-spacing: 0;
            color: #000000;
            font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 20px;
            font-weight: 500;
          }
        }

        .frame10 {
          display: flex;
          align-items: center;
          margin-left: 247px;
          padding-left: 14px;
          width: 186px;

          .frame8 {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: flex-start;
            justify-content: center;
            margin-right: -1px;
            padding: 10px;
            height: 86px;
            row-gap: 10px;

            .button {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;
              justify-content: center;
              column-gap: 10px;
              border-radius: 6px;
              background: #15562e;
              padding: 10px;
              height: 48px;

              .getAQuote {
                flex-shrink: 0;
                line-height: 21px;
                letter-spacing: 0;
                color: #ffffff;
                font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 18px;
                font-weight: 500;
              }
            }
          }
        }

        .language {
          display: inline-flex;
          position: absolute;
          top: 30px;
          left: 1140px;
          align-items: center;
          column-gap: 6px;
          width: 51px;
          height: 24px;

          .eN {
            flex-shrink: 0;
            width: 21px;
            height: 13px;
          }

          .autoWrapper {
            position: relative;
            flex-shrink: 0;
            width: 24px;
            height: 24px;

            .arrowRight {
              position: absolute;
              top: 1px;
              left: 1px;
              width: 24px;
              height: 24px;
              rotate: 90deg;
            }
          }
        }
      }
    }
  }

  .autoWrapper3 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;
    margin-top: 60px;
    padding-right: 120px;
    padding-left: 0;

    .frame1000006227 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 29px;
      row-gap: 34px;

      .phone {
        flex-shrink: 0;
        align-self: stretch;
        letter-spacing: 0;
        color: #1a1a1a;
        font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 28px;
        font-weight: 600;
      }

      .frame1000006221 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        row-gap: 6px;

        .infoHomigotechnicals {
          flex-shrink: 0;
          align-self: stretch;
          letter-spacing: 0;
          color: #1a1a1a;
          font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
        }
      }

      .frame1000006224 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        column-gap: 32px;
        width: 503px;

        .ellipse9 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          border-radius: 50%;
          background: #15562e;
          padding: 14px 15px;

          .call {
            width: 40px;
            height: 42px;
          }
        }

        .frame1000006220 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          row-gap: 6px;

          .a9715030719899715030 {
            flex-shrink: 0;
            width: 218px;
            letter-spacing: 0;
            color: #1a1a1a;
            font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
          }
        }
      }

      .frame1000006225 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        column-gap: 32px;

        .frame1000006376 {
          flex-shrink: 0;
          width: 70px;
          height: 70px;
        }
      }

      .frame1000006223 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        column-gap: 32px;

        .ellipse92 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          border-radius: 50%;
          background: #15562e;
          padding: 15px;

          .location {
            width: 39px;
            height: 40px;
            overflow: hidden;
          }
        }
      }

      .frame1000006226 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        column-gap: 32px;

        .ellipse93 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          border-radius: 50%;
          background: #15562e;
          padding: 14px 15px 16px;

          .clock {
            width: 40px;
            height: 40px;
          }
        }
      }
    }

    .frame1000006217 {
      display: flex;
      align-items: center;
      border-radius: 30px;
      background: #ffffff;
      width: 777px;
      height: 511px;
      overflow: hidden;

      .b7Ecb5E2Df6741F3A7C8 {
        margin-left: -53px;
        width: 911px;
        height: 577px;
      }
    }
  }

  .footerDesign {
    display: flex;
    align-items: center;
    align-self: stretch;
    margin: 121px -3px 0px;
    padding-bottom: 1px;

    .rectangle29 {
      display: flex;
      position: relative;
      flex-grow: 1;
      align-items: flex-start;
      background: #001107;
      padding: 95px 78px 38px 61px;

      .oBjects {
        position: absolute;
        top: 443px;
        left: 0;
        width: 706px;
        height: 231px;
      }

      .autoWrapper7 {
        display: flex;
        position: relative;
        align-items: flex-start;
        align-self: stretch;

        .services2 {
          flex-shrink: 0;
          align-self: stretch;
          line-height: 28px;
          letter-spacing: 0;
          color: #ffffff;
          font-family: Satoshi, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
          font-weight: 700;
        }

        .autoWrapper5 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;

          .frame90 {
            display: inline-flex;
            align-items: center;
            align-self: stretch;
            column-gap: 6px;
            margin-right: 177px;

            .whatsAppImage20260122 {
              flex-shrink: 0;
              width: 88px;
              height: 86px;
            }

            .whatsAppImage20260123 {
              flex-shrink: 0;
              width: 200px;
              height: 86px;
            }
          }

          .cleaningTechnicalSer {
            display: flex;
            align-items: center;
            margin: 34px 0px 0px;
            width: 470px;
            height: 67px;
            line-height: 34px;
            letter-spacing: 0;
            color: #ffffff;
            font-family: Satoshi, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 500;
          }

          .autoWrapper4 {
            display: flex;
            align-items: center;
            align-self: stretch;
            justify-content: space-between;
            margin-top: 40px;
            padding-right: 57px;
            padding-left: 4px;

            .group69 {
              width: 41px;
              height: 43px;
            }

            .infoHomigotechnicals2 {
              display: flex;
              align-items: center;
              width: 354px;
              height: 27px;
              line-height: 28px;
              letter-spacing: 0;
              color: #ffffff;
              font-family: "PF Bague Sans Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 24px;
            }
          }

          .frame1000006198 {
            display: inline-flex;
            align-items: center;
            align-self: stretch;
            column-gap: 16px;
            margin: 37px 251px 0px 4px;

            .ellipse7 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              border-radius: 50%;
              background: #ffffff;
              padding: 9px;

              .sms {
                width: 24px;
                height: 24px;
              }
            }

            .group50 {
              flex-shrink: 0;
              width: 42px;
              height: 42px;
            }

            .ellipse72 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              border-radius: 50%;
              background: #ffffff;
              padding: 12px 11px 12px 12px;

              .instagramSvgrepoCom1 {
                width: 18px;
                height: 18px;
                overflow: hidden;
              }
            }
          }
        }

        .frame94 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-top: 24px;
          margin-left: 221px;
          row-gap: 24px;

          .frame93 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            row-gap: 16px;

            .deepCleaningServiceI {
              flex-shrink: 0;
              align-self: stretch;
              width: 327px;
              height: 24px;
              line-height: 24px;
              letter-spacing: 0;
              color: #ffffff;
              font-family: Satoshi, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 20px;
            }

            .officeDeepCleaning {
              flex-shrink: 0;
              width: 190px;
              height: 24px;
              line-height: 24px;
              letter-spacing: 0;
              color: #ffffff;
              font-family: Satoshi, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 20px;
            }

            .technicalServices {
              flex-shrink: 0;
              width: 161px;
              height: 24px;
              line-height: 24px;
              letter-spacing: 0;
              color: #ffffff;
              font-family: Satoshi, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 20px;
            }

            .sewageTankCleaning {
              flex-shrink: 0;
              width: 199px;
              height: 24px;
              line-height: 24px;
              letter-spacing: 0;
              color: #ffffff;
              font-family: Satoshi, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 20px;
            }

            .drainLineJettingServ {
              flex-shrink: 0;
              width: 232px;
              height: 24px;
              line-height: 24px;
              letter-spacing: 0;
              color: #ffffff;
              font-family: Satoshi, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 20px;
            }

            .wasteWaterRemoval {
              flex-shrink: 0;
              width: 192px;
              height: 24px;
              line-height: 24px;
              letter-spacing: 0;
              color: #ffffff;
              font-family: Satoshi, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 20px;
            }

            .drainageCleaningServ {
              flex-shrink: 0;
              width: 233px;
              height: 24px;
              line-height: 24px;
              letter-spacing: 0;
              color: #ffffff;
              font-family: Satoshi, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 20px;
            }

            .paintingServices {
              flex-shrink: 0;
              width: 150px;
              height: 24px;
              line-height: 24px;
              letter-spacing: 0;
              color: #ffffff;
              font-family: Satoshi, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 20px;
            }
          }
        }

        .autoWrapper6 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;
          margin-top: 24px;
          margin-left: 135px;

          .frame95 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
            margin-right: 67px;
            row-gap: 24px;

            .frame932 {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: flex-start;
              align-self: stretch;
              row-gap: 16px;

              .services3 {
                flex-shrink: 0;
                width: 327px;
                height: 24px;
                line-height: 24px;
                letter-spacing: 0;
                color: #ffffff;
                font-family: Satoshi, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 20px;
              }
            }
          }

          .designedByVikncodes {
            display: flex;
            align-items: center;
            margin: 295px 0px 0px 43px;
            width: 184px;
            height: 27px;
            line-height: 24px;
            letter-spacing: 0;
            color: #ffffff;
            font-family: Satoshi, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 18px;
          }
        }
      }
    }
  }
}
