* {
  box-sizing: border-box;
}

.frame1000006230 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 60px;
  width: 1512px;
  height: 128px;
  row-gap: 10px;

  .navbar {
    display: flex;
    position: relative;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    border: 1px solid #d3d3d3;
    border-radius: 20px;
    box-shadow: 0px 957px 250px 0px #00000000, 0px 612px 245px 0px #00000005,
      0px 345px 207px 0px #00000014, 0px 153px 153px 0px #00000021,
      0px 38px 84px 0px #00000026;
    background: #ffffff;
    padding-right: 16px;
    padding-left: 16px;
    height: 86px;

    .whatsAppImage2026012 {
      width: 283px;
      height: 86px;
    }

    .frame7 {
      display: inline-flex;
      align-items: center;
      column-gap: 20px;
      margin-left: 150px;
      height: 86px;

      .services {
        flex-shrink: 0;
        padding: 10px;
        width: 108px;
        text-align: center;
        line-height: 24px;
        letter-spacing: 0;
        color: #000000;
        font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 500;
      }
    }

    .frame10 {
      display: flex;
      align-items: center;
      margin-left: 247px;
      padding-left: 14px;
      width: 186px;

      .frame8 {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;
        justify-content: center;
        margin-right: -1px;
        padding: 10px;
        height: 86px;
        row-gap: 10px;

        .button {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: center;
          column-gap: 10px;
          border-radius: 6px;
          background: #15562e;
          padding: 10px;
          height: 48px;

          .getAQuote {
            flex-shrink: 0;
            line-height: 21px;
            letter-spacing: 0;
            color: #ffffff;
            font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 18px;
            font-weight: 500;
          }
        }
      }
    }

    .language {
      display: inline-flex;
      position: absolute;
      top: 30px;
      left: 1140px;
      align-items: center;
      column-gap: 6px;
      width: 51px;
      height: 24px;

      .eN {
        flex-shrink: 0;
        width: 21px;
        height: 13px;
      }

      .autoWrapper {
        position: relative;
        flex-shrink: 0;
        width: 24px;
        height: 24px;

        .arrowRight {
          position: absolute;
          top: 1px;
          left: 1px;
          width: 24px;
          height: 24px;
          rotate: 90deg;
        }
      }
    }
  }
}
