* {
  box-sizing: border-box;
}

.aboutUs2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  background: #ffffff;
  padding-top: 810px;
  width: 1512px;
  height: 2982px;
  overflow: hidden;

  .frame1000006244 {
    display: flex;
    align-items: center;
    column-gap: 78px;
    padding: 10px 10px 10px 60px;
    width: 1522px;
    height: 652px;

    .frame1000006243 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      row-gap: 40px;

      .hello {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        width: 661px;
        height: 57px;
        letter-spacing: 0;
        color: #0c0c0c;
        font-family: "PF Bague Sans Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 60px;
        font-weight: 900;
      }

      .homigoCleaningAndTec {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        width: 661px;
        height: 426px;
        line-height: 51px;
        letter-spacing: 0;
        color: #000000;
        font-family: "PF Bague Sans Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 32px;
      }
    }

    .frame1000006242 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      padding-bottom: 1px;
      height: 564px;

      .group61 {
        position: relative;
        width: 856px;
        height: 564px;

        .frame1000006231 {
          display: flex;
          position: absolute;
          top: 0;
          left: 0;
          align-items: flex-start;
          border-radius: 32px;
          background: #ffffff;
          padding-bottom: 1px;
          width: 591px;
          height: 366px;
          overflow: hidden;

          .geminiGeneratedImage {
            margin-top: -12px;
            margin-left: -12px;
            width: 649px;
            height: 378px;
          }
        }

        .rectangle48 {
          position: absolute;
          top: 279px;
          left: 374px;
          border-radius: 32px;
          background: #ffffff;
          width: 482px;
          height: 234px;
        }

        .frame1000006232 {
          display: flex;
          position: absolute;
          top: 294px;
          left: 391px;
          align-items: flex-start;
          border-radius: 30px;
          background: #ffffff;
          width: 428px;
          height: 270px;
          overflow: hidden;

          .screenshot2026020218 {
            margin-top: -7px;
            margin-left: -20px;
            width: 496px;
            height: 293px;
          }
        }
      }
    }
  }

  .frame1000006240 {
    display: flex;
    align-items: center;
    column-gap: 32px;
    margin-top: 22px;
    padding: 10px 118px;
    width: 1512px;
    height: 546px;

    .frame1000006234 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      justify-content: center;
      border: 1px solid #dfdfdf;
      border-radius: 24px;
      background: #ffffff;
      padding: 40px 36px;
      height: 385px;
      row-gap: 24px;

      .frame1000006233 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        margin-right: 405px;
        row-gap: 24px;

        .dartMissionGoalSucce {
          flex-shrink: 0;
          width: 82px;
          height: 82px;
          overflow: hidden;
        }

        .mission {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          width: 143px;
          height: 35px;
          letter-spacing: 0;
          color: #0c0c0c;
          font-family: "PF Bague Sans Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 40px;
          font-weight: 900;
        }
      }

      .deliverReliableEcoFr {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        width: 548px;
        height: 139px;
        line-height: 27px;
        letter-spacing: 0;
        color: #000000;
        font-family: "PF Bague Sans Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 32px;
      }
    }
  }

  .frame32 {
    display: flex;
    position: relative;
    align-items: center;
    column-gap: 137px;
    margin-top: 50px;
    padding-right: 124px;
    padding-left: 124px;
    width: 1512px;
    height: 228px;
    background-image: linear-gradient(98.58deg, #70f57014 0%, #49c62814 100%);

    .experienceTheBenefit {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      width: 832px;
      height: 194px;
      letter-spacing: 0;
      color: #0c0c0c;
      font-family: "PF Bague Sans Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 50px;
      font-weight: 900;
    }

    .frame29 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      column-gap: 12px;
      border-radius: 8px;
      background: #15562e;
      padding: 10px 68px;
      width: 293px;
      height: 60px;

      .getAFastQuote {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        width: 154px;
        height: 27px;
        letter-spacing: 0;
        color: #ffffff;
        font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 500;
      }
    }

    .vector6 {
      position: absolute;
      top: 108px;
      left: 771px;
      flex-shrink: 0;
      width: 173px;
      height: 16px;
    }
  }

  .footerDesign {
    display: flex;
    align-items: center;
    align-self: stretch;
    margin-right: -4px;
    margin-left: -3px;
    padding-bottom: 1px;

    .rectangle29 {
      display: flex;
      position: relative;
      flex-grow: 1;
      align-items: flex-start;
      background: #001107;
      padding: 95px 78px 38px 61px;

      .oBjects {
        position: absolute;
        top: 443px;
        left: 0;
        width: 706px;
        height: 231px;
      }

      .autoWrapper4 {
        display: flex;
        position: relative;
        align-items: flex-start;
        align-self: stretch;

        .services {
          flex-shrink: 0;
          align-self: stretch;
          line-height: 28px;
          letter-spacing: 0;
          color: #ffffff;
          font-family: Satoshi, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
          font-weight: 700;
        }

        .autoWrapper2 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;

          .frame90 {
            display: inline-flex;
            align-items: center;
            align-self: stretch;
            column-gap: 6px;
            margin-right: 177px;

            .whatsAppImage2026012 {
              flex-shrink: 0;
              width: 88px;
              height: 86px;
            }

            .whatsAppImage20260122 {
              flex-shrink: 0;
              width: 200px;
              height: 86px;
            }
          }

          .cleaningTechnicalSer {
            display: flex;
            align-items: center;
            margin: 34px 0px 0px;
            width: 470px;
            height: 67px;
            line-height: 34px;
            letter-spacing: 0;
            color: #ffffff;
            font-family: Satoshi, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 500;
          }

          .autoWrapper {
            display: flex;
            align-items: center;
            align-self: stretch;
            justify-content: space-between;
            margin-top: 40px;
            padding-right: 57px;
            padding-left: 4px;

            .group69 {
              width: 41px;
              height: 43px;
            }

            .infoHomigotechnicals {
              display: flex;
              align-items: center;
              width: 354px;
              height: 27px;
              line-height: 28px;
              letter-spacing: 0;
              color: #ffffff;
              font-family: "PF Bague Sans Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 24px;
            }
          }

          .frame1000006198 {
            display: inline-flex;
            align-items: center;
            align-self: stretch;
            column-gap: 16px;
            margin: 37px 251px 0px 4px;

            .ellipse7 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              border-radius: 50%;
              background: #ffffff;
              padding: 9px;

              .sms {
                width: 24px;
                height: 24px;
              }
            }

            .group50 {
              flex-shrink: 0;
              width: 42px;
              height: 42px;
            }

            .ellipse72 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              border-radius: 50%;
              background: #ffffff;
              padding: 12px 11px 12px 12px;

              .instagramSvgrepoCom1 {
                width: 18px;
                height: 18px;
                overflow: hidden;
              }
            }
          }
        }

        .frame94 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-top: 24px;
          margin-left: 221px;
          row-gap: 24px;

          .frame93 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            row-gap: 16px;

            .deepCleaningServiceI {
              flex-shrink: 0;
              align-self: stretch;
              width: 327px;
              height: 24px;
              line-height: 24px;
              letter-spacing: 0;
              color: #ffffff;
              font-family: Satoshi, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 20px;
            }

            .officeDeepCleaning {
              flex-shrink: 0;
              width: 190px;
              height: 24px;
              line-height: 24px;
              letter-spacing: 0;
              color: #ffffff;
              font-family: Satoshi, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 20px;
            }

            .technicalServices {
              flex-shrink: 0;
              width: 161px;
              height: 24px;
              line-height: 24px;
              letter-spacing: 0;
              color: #ffffff;
              font-family: Satoshi, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 20px;
            }

            .sewageTankCleaning {
              flex-shrink: 0;
              width: 199px;
              height: 24px;
              line-height: 24px;
              letter-spacing: 0;
              color: #ffffff;
              font-family: Satoshi, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 20px;
            }

            .drainLineJettingServ {
              flex-shrink: 0;
              width: 232px;
              height: 24px;
              line-height: 24px;
              letter-spacing: 0;
              color: #ffffff;
              font-family: Satoshi, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 20px;
            }

            .wasteWaterRemoval {
              flex-shrink: 0;
              width: 192px;
              height: 24px;
              line-height: 24px;
              letter-spacing: 0;
              color: #ffffff;
              font-family: Satoshi, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 20px;
            }

            .drainageCleaningServ {
              flex-shrink: 0;
              width: 233px;
              height: 24px;
              line-height: 24px;
              letter-spacing: 0;
              color: #ffffff;
              font-family: Satoshi, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 20px;
            }

            .paintingServices {
              flex-shrink: 0;
              width: 150px;
              height: 24px;
              line-height: 24px;
              letter-spacing: 0;
              color: #ffffff;
              font-family: Satoshi, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 20px;
            }
          }
        }

        .autoWrapper3 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;
          margin-top: 24px;
          margin-left: 135px;

          .frame95 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
            margin-right: 67px;
            row-gap: 24px;

            .frame932 {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: flex-start;
              align-self: stretch;
              row-gap: 16px;

              .services2 {
                flex-shrink: 0;
                width: 327px;
                height: 24px;
                line-height: 24px;
                letter-spacing: 0;
                color: #ffffff;
                font-family: Satoshi, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 20px;
              }
            }
          }

          .designedByVikncodes {
            display: flex;
            align-items: center;
            margin: 295px 0px 0px 43px;
            width: 184px;
            height: 27px;
            line-height: 24px;
            letter-spacing: 0;
            color: #ffffff;
            font-family: Satoshi, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 18px;
          }
        }
      }
    }
  }

  .group70 {
    position: absolute;
    top: 0;
    left: -11px;
    width: 1656px;
    height: 870px;

    .rectangle45 {
      position: absolute;
      top: 0;
      left: 0;
      background: #a9d9e9;
      width: 1541px;
      height: 788px;
    }

    .subtract {
      position: absolute;
      top: 0;
      left: 11px;
      width: 1513px;
      height: 788px;
    }

    .group59 {
      position: absolute;
      top: 160px;
      left: 970px;
      width: 206px;
      height: 205px;
      rotate: -75deg;
    }

    .group60 {
      position: absolute;
      top: 604px;
      left: 977px;
      width: 206px;
      height: 205px;
      rotate: -124deg;
    }

    .geminiGeneratedImage2 {
      position: absolute;
      top: 208px;
      left: 886px;
      width: 688px;
      height: 542px;
      rotate: -155deg;
      background-image: url(../image/mm378jxo-h1kgqd9.png);
      background-position: 0px -318px;
      background-size: 199.15% 168.62%;
      background-repeat: no-repeat;
      filter: drop-shadow(0px 205px 57px #00000003)
        drop-shadow(0px 131px 52px #0000000f)
        drop-shadow(0px 74px 44px #00000033)
        drop-shadow(0px 33px 33px #00000057) drop-shadow(0px 8px 18px #00000063);
    }

    .frame1000006251 {
      display: flex;
      position: absolute;
      top: 329px;
      left: 189px;
      flex-direction: column;
      align-items: flex-start;
      width: 584px;
      height: 207px;
      row-gap: 16px;

      .homeAboutUs {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        width: 584px;
        height: 24px;
        line-height: 22px;
        letter-spacing: 0;
        color: #020202;
        font-family: Satoshi, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 20px;
      }

      .frame1000006218 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        justify-content: center;
        row-gap: 22px;

        .aboutUs {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          width: 584px;
          height: 65px;
          letter-spacing: 0;
          color: #000000;
          font-family: "PF Bague Sans Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 60px;
          font-weight: 900;
        }

        .learnMoreAboutOurBus {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          width: 568px;
          height: 80px;
          line-height: 26px;
          letter-spacing: 0;
          color: #000000;
          font-family: Satoshi, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
          font-weight: 500;
        }
      }
    }

    .frame1000006230 {
      display: flex;
      position: absolute;
      top: 0;
      left: 11px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10px 60px;
      width: 1512px;
      height: 128px;
      row-gap: 10px;

      .navbar {
        display: flex;
        position: relative;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        border: 1px solid #d3d3d3;
        border-radius: 20px;
        box-shadow: 0px 957px 250px 0px #00000000, 0px 612px 245px 0px #00000005,
          0px 345px 207px 0px #00000014, 0px 153px 153px 0px #00000021,
          0px 38px 84px 0px #00000026;
        background: #ffffff;
        padding-right: 16px;
        padding-left: 16px;
        height: 86px;

        .whatsAppImage20260123 {
          width: 283px;
          height: 86px;
        }

        .frame7 {
          display: inline-flex;
          align-items: center;
          column-gap: 20px;
          margin-left: 150px;
          height: 86px;

          .services3 {
            flex-shrink: 0;
            padding: 10px;
            width: 108px;
            text-align: center;
            line-height: 24px;
            letter-spacing: 0;
            color: #000000;
            font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 20px;
            font-weight: 500;
          }
        }

        .frame10 {
          display: flex;
          align-items: center;
          margin-left: 247px;
          padding-left: 14px;
          width: 186px;

          .frame8 {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: flex-start;
            justify-content: center;
            margin-right: -1px;
            padding: 10px;
            height: 86px;
            row-gap: 10px;

            .button {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;
              justify-content: center;
              column-gap: 10px;
              border-radius: 6px;
              background: #15562e;
              padding: 10px;
              height: 48px;

              .getAQuote {
                flex-shrink: 0;
                line-height: 21px;
                letter-spacing: 0;
                color: #ffffff;
                font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 18px;
                font-weight: 500;
              }
            }
          }
        }

        .language {
          display: inline-flex;
          position: absolute;
          top: 30px;
          left: 1140px;
          align-items: center;
          column-gap: 6px;
          width: 51px;
          height: 24px;

          .eN {
            flex-shrink: 0;
            width: 21px;
            height: 13px;
          }

          .autoWrapper5 {
            position: relative;
            flex-shrink: 0;
            width: 24px;
            height: 24px;

            .arrowRight {
              position: absolute;
              top: 1px;
              left: 1px;
              width: 24px;
              height: 24px;
              rotate: 90deg;
            }
          }
        }
      }
    }

    .frame1000006414 {
      display: flex;
      position: absolute;
      top: 695px;
      left: 63px;
      align-items: center;
      justify-content: space-between;
      padding: 15px 51px 16px 1211px;
      width: 1409px;
      height: 96px;

      .group71 {
        position: relative;
        width: 65px;
        height: 65px;

        .ellipse10 {
          position: absolute;
          top: 0;
          left: 0;
          border: 5px solid #005f62;
          border-radius: 50%;
          background: #ffffff;
          width: 65px;
          height: 65px;
        }

        .phoneSvgrepoCom11 {
          position: absolute;
          top: 9px;
          left: 9px;
          width: 46px;
          height: 46px;
          overflow: hidden;
          rotate: -6deg;
        }
      }

      .frame1000006413 {
        display: flex;
        align-items: center;
        padding-top: 1px;
        width: 65px;

        .group72 {
          margin-left: -1px;
          width: 66px;
          height: 65px;
        }
      }
    }
  }
}
