* {
  box-sizing: border-box;
}

.bookAppoiment {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  width: 1512px;
  height: 1847px;
  overflow: hidden;

  .group75 {
    position: absolute;
    top: 313px;
    left: 1342px;
    width: 108px;
    height: 67px;
  }

  .autoWrapper7 {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    padding-right: -7px;
    padding-left: 0;

    .frame1000006230 {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;
      justify-content: center;
      margin-right: 3px;
      margin-left: 3px;
      padding: 10px 60px;
      height: 128px;
      row-gap: 10px;

      .navbar {
        display: flex;
        position: relative;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        border: 1px solid #d3d3d3;
        border-radius: 20px;
        box-shadow: 0px 957px 250px 0px #00000000, 0px 612px 245px 0px #00000005,
          0px 345px 207px 0px #00000014, 0px 153px 153px 0px #00000021,
          0px 38px 84px 0px #00000026;
        background: #ffffff;
        padding-right: 16px;
        padding-left: 16px;
        height: 86px;

        .whatsAppImage2026012 {
          width: 283px;
          height: 86px;
        }

        .frame7 {
          display: inline-flex;
          align-items: center;
          column-gap: 20px;
          margin-left: 150px;
          height: 86px;

          .services {
            flex-shrink: 0;
            padding: 10px;
            width: 108px;
            text-align: center;
            line-height: 24px;
            letter-spacing: 0;
            color: #000000;
            font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 20px;
            font-weight: 500;
          }
        }

        .frame10 {
          display: flex;
          align-items: center;
          margin-left: 247px;
          padding-left: 14px;
          width: 186px;

          .frame8 {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: flex-start;
            justify-content: center;
            margin-right: -1px;
            padding: 10px;
            height: 86px;
            row-gap: 10px;

            .button {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;
              justify-content: center;
              column-gap: 10px;
              border-radius: 6px;
              background: #15562e;
              padding: 10px;
              height: 48px;

              .getAQuote {
                flex-shrink: 0;
                line-height: 21px;
                letter-spacing: 0;
                color: #ffffff;
                font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 18px;
                font-weight: 500;
              }
            }
          }
        }

        .language {
          display: inline-flex;
          position: absolute;
          top: 30px;
          left: 1140px;
          align-items: center;
          column-gap: 6px;
          width: 51px;
          height: 24px;

          .eN {
            flex-shrink: 0;
            width: 21px;
            height: 13px;
          }

          .autoWrapper {
            position: relative;
            flex-shrink: 0;
            width: 24px;
            height: 24px;

            .arrowRight {
              position: absolute;
              top: 1px;
              left: -1px;
              width: 24px;
              height: 24px;
              rotate: 90deg;
            }
          }
        }
      }
    }

    .frame1000006426 {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;
      margin: 80px 136px 0px;
      row-gap: 14px;

      .weReHappyToHelp {
        flex-shrink: 0;
        align-self: stretch;
        text-align: center;
        letter-spacing: 0;
        color: #0c0c0c;
        font-family: "PF Bague Sans Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 60px;
        font-weight: 900;
      }

      .bookTrustedCleaningE {
        flex-shrink: 0;
        align-self: stretch;
        text-align: center;
        letter-spacing: 0;
        color: #0c0c0c;
        font-family: "PF Bague Sans Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 26px;
      }
    }

    .frame1000006444 {
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin: 80px 136px 0px;
      border: 1px solid #ebebeb;
      border-radius: 24px;
      background: #ffffff;
      padding: 42px 41px;
      row-gap: 10px;

      .name {
        flex-shrink: 0;
        align-self: stretch;
        letter-spacing: 0;
        color: #848484;
        font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: 500;
      }

      .frame1000006443 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-end;
        align-self: stretch;
        row-gap: 40px;

        .frame1000006442 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;

          .rectangle4 {
            flex-shrink: 0;
            align-self: stretch;
            border: 1px solid #eeeeee;
            border-radius: 8px;
            background: #f8f8f8;
            height: 60px;
          }

          .textfield {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
            justify-content: center;
            padding-right: 679px;
            row-gap: 8px;
          }

          .frame1000006441 {
            display: flex;
            align-items: center;
            align-self: stretch;
            justify-content: space-between;
            margin-top: 30px;
            min-width: 1162px;
            height: 89px;

            .textfield2 {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              row-gap: 8px;
            }
          }

          .textfield3 {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-self: stretch;
            margin-top: 30px;

            .name2 {
              width: 1162px;
              letter-spacing: 0;
              color: #848484;
              font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 18px;
              font-weight: 500;
            }

            .rectangle42 {
              position: relative;
              margin-top: 8px;
              border: 1px solid #eeeeee;
              border-radius: 8px;
              background: #f8f8f8;
              width: 1162px;
              height: 190px;

              .yourMessage {
                position: absolute;
                top: 20px;
                left: 19px;
                width: 119px;
                height: 21px;
                line-height: 21px;
                letter-spacing: 0;
                color: #878787;
                font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 18px;
              }
            }
          }
        }

        .primaryBtn2 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          column-gap: 10px;
          border-radius: 8px;
          background: #15562e;
          padding: 10px;
          width: 225px;
          height: 60px;

          .primaryBtn {
            flex-shrink: 0;
            line-height: 24px;
            letter-spacing: 0;
            color: #ffffff;
            font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 20px;
            font-weight: 500;
          }
        }
      }

      .frame1000006439 {
        display: flex;
        position: absolute;
        top: 40px;
        left: 555px;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        width: 648px;
        height: 89px;
        row-gap: 8px;

        .frame1000006427 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
          border-radius: 8px;
          background: #f8f8f8;
          padding: 10px 16px;
          min-width: 648px;
          height: 60px;

          .officeDeepCleaning {
            flex-shrink: 0;
            line-height: 21px;
            letter-spacing: 0;
            color: #878787;
            font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 18px;
          }

          .autoWrapper2 {
            position: relative;
            flex-shrink: 0;
            width: 20px;
            height: 20px;

            .arrowRight2 {
              position: absolute;
              top: 1px;
              left: 1px;
              width: 20px;
              height: 20px;
              rotate: 90deg;
            }
          }
        }
      }
    }

    .footerDesign {
      display: flex;
      align-items: center;
      align-self: stretch;
      margin-top: 120px;
      padding-bottom: 1px;

      .rectangle29 {
        display: flex;
        position: relative;
        flex-grow: 1;
        align-items: flex-start;
        background: #001107;
        padding: 95px 78px 38px 61px;

        .oBjects {
          position: absolute;
          top: 443px;
          left: 0;
          width: 706px;
          height: 231px;
        }

        .autoWrapper6 {
          display: flex;
          position: relative;
          align-items: flex-start;
          align-self: stretch;

          .services2 {
            flex-shrink: 0;
            align-self: stretch;
            line-height: 28px;
            letter-spacing: 0;
            color: #ffffff;
            font-family: Satoshi, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 700;
          }

          .autoWrapper4 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;

            .frame90 {
              display: inline-flex;
              align-items: center;
              align-self: stretch;
              column-gap: 6px;
              margin-right: 177px;

              .whatsAppImage20260122 {
                flex-shrink: 0;
                width: 88px;
                height: 86px;
              }

              .whatsAppImage20260123 {
                flex-shrink: 0;
                width: 200px;
                height: 86px;
              }
            }

            .cleaningTechnicalSer {
              display: flex;
              align-items: center;
              margin: 34px 0px 0px;
              width: 470px;
              height: 67px;
              line-height: 34px;
              letter-spacing: 0;
              color: #ffffff;
              font-family: Satoshi, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 24px;
              font-weight: 500;
            }

            .autoWrapper3 {
              display: flex;
              align-items: center;
              align-self: stretch;
              justify-content: space-between;
              margin-top: 40px;
              padding-right: 57px;
              padding-left: 4px;

              .group69 {
                width: 41px;
                height: 43px;
              }

              .infoHomigotechnicals {
                display: flex;
                align-items: center;
                width: 354px;
                height: 27px;
                line-height: 28px;
                letter-spacing: 0;
                color: #ffffff;
                font-family: "PF Bague Sans Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 24px;
              }
            }

            .frame1000006198 {
              display: inline-flex;
              align-items: center;
              align-self: stretch;
              column-gap: 16px;
              margin: 37px 251px 0px 4px;

              .ellipse7 {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                border-radius: 50%;
                background: #ffffff;
                padding: 9px;

                .sms {
                  width: 24px;
                  height: 24px;
                }
              }

              .group50 {
                flex-shrink: 0;
                width: 42px;
                height: 42px;
              }

              .ellipse72 {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                border-radius: 50%;
                background: #ffffff;
                padding: 12px 11px 12px 12px;

                .instagramSvgrepoCom1 {
                  width: 18px;
                  height: 18px;
                  overflow: hidden;
                }
              }
            }
          }

          .frame94 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 24px;
            margin-left: 221px;
            row-gap: 24px;

            .frame93 {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: flex-start;
              align-self: stretch;
              row-gap: 16px;

              .deepCleaningServiceI {
                flex-shrink: 0;
                align-self: stretch;
                width: 327px;
                height: 24px;
                line-height: 24px;
                letter-spacing: 0;
                color: #ffffff;
                font-family: Satoshi, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 20px;
              }

              .officeDeepCleaning2 {
                flex-shrink: 0;
                width: 190px;
                height: 24px;
                line-height: 24px;
                letter-spacing: 0;
                color: #ffffff;
                font-family: Satoshi, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 20px;
              }

              .technicalServices {
                flex-shrink: 0;
                width: 161px;
                height: 24px;
                line-height: 24px;
                letter-spacing: 0;
                color: #ffffff;
                font-family: Satoshi, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 20px;
              }

              .sewageTankCleaning {
                flex-shrink: 0;
                width: 199px;
                height: 24px;
                line-height: 24px;
                letter-spacing: 0;
                color: #ffffff;
                font-family: Satoshi, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 20px;
              }

              .drainLineJettingServ {
                flex-shrink: 0;
                width: 232px;
                height: 24px;
                line-height: 24px;
                letter-spacing: 0;
                color: #ffffff;
                font-family: Satoshi, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 20px;
              }

              .wasteWaterRemoval {
                flex-shrink: 0;
                width: 192px;
                height: 24px;
                line-height: 24px;
                letter-spacing: 0;
                color: #ffffff;
                font-family: Satoshi, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 20px;
              }

              .drainageCleaningServ {
                flex-shrink: 0;
                width: 233px;
                height: 24px;
                line-height: 24px;
                letter-spacing: 0;
                color: #ffffff;
                font-family: Satoshi, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 20px;
              }

              .paintingServices {
                flex-shrink: 0;
                width: 150px;
                height: 24px;
                line-height: 24px;
                letter-spacing: 0;
                color: #ffffff;
                font-family: Satoshi, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 20px;
              }
            }
          }

          .autoWrapper5 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
            margin-top: 24px;
            margin-left: 135px;

            .frame95 {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              align-self: stretch;
              margin-right: 67px;
              row-gap: 24px;

              .frame932 {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                align-items: flex-start;
                align-self: stretch;
                row-gap: 16px;

                .services3 {
                  flex-shrink: 0;
                  width: 327px;
                  height: 24px;
                  line-height: 24px;
                  letter-spacing: 0;
                  color: #ffffff;
                  font-family: Satoshi, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 20px;
                }
              }
            }

            .designedByVikncodes {
              display: flex;
              align-items: center;
              margin: 295px 0px 0px 43px;
              width: 184px;
              height: 27px;
              line-height: 24px;
              letter-spacing: 0;
              color: #ffffff;
              font-family: Satoshi, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
